/* Move down content because we have a fixed navbar that is 50px tall */
/div { border: 1px solid; }

body {
  margin-top: 75px;
}

#imglogo {
	margin-top: 1px;
	margin-right: 15px;
	margin-left: 15px;
}